/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font-size);
}

h1 {
  font-size: 2.5rem;
  color: var(--plum);
  font-family: var(--mono);
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

#intro p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  margin: 2rem auto 3rem auto;
  width: 50%;
  border: 1px solid var(--black);
}
/* styles for the game */

#game {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cell:first-child {
  border-left: 2px solid var(--black);
}
.cell:last-child {
  border-right: 2px solid var(--black);
}
.row:first-child .cell {
  border-top: 2px solid var(--black);
}
.row:last-child .cell {
  border-bottom: 2px solid var(--black);
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid var(--black);
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--mono);
  text-align: center;
  line-height: 1.2;
}

/* Animations */

@keyframes redSignal {
  to {
    color: red;
  }
}

.redSignal {
  animation-name: redSignal;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

.red {
  color: red;
}
